body{
padding  : 0;
font-family: Arial;
margin : 0;
background-color: #D4D6B9
}

p{
text-align:justify;
}

header {
background-color:#24633C;
color: #D1CAA1;
top : 0;
position: absolute;
width: 100%;
}

header h1{
text-align: center;
}

nav{
margin:auto;
width: 100%;
}
ul{
  padding: 0px;
}
nav li {
list-style-type: none;
text-align: center;
}

nav li a{
color: #D1CAA1;
text-decoration: none;
display: block;
background-color: #339650;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
height: 20px;
margin: 1px;
}


section{
width: 100%;
margin: auto;
margin-top: 265px; 
background-color: #EFE4CA;
padding: 5px;
padding-bottom: 100px;
padding-top: 100px;
}

article{
  padding: 6px;
  border-top: 1px dashed #AA9764;
  border-bottom: 1px dashed #AA9764;
  background-color: #decfac;
  margin: 5px;
}
ul {
   list-style-type: none; 
}

aside {
  display: none;
}
h1 { 
text-align: center;
font-size: 25px;
}
h2 {
text-align: center;
font-size: 18px;
}

figure{
  margin: auto;
  text-align: center;
}
img {
  width: 100%;
}

.frise-chrono img{
  width: 1000px;
}

.frise-chrono{
  overflow-y: auto;
  max-width: 95%;
  margin: auto;
  text-align : center;
}

footer{
    padding:5px;
  width: 100%;
  color: #D1CAA1;
  background-color: #183A2E;
  text-align:center;
}

footer li a{
  color: #D1CAA1;
  font-weight: bold;
  text-align:center;
}

footer li{
      text-decoration: none;
  display: block;
  padding: 10px;

}

video{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15px;
  margin-top: 15px;
}

a{
 color: #339650;
  font-weight: bold;
  text-decoration: none;
}

.frise-chrono{
  overflow-y: auto;
  max-width: 95%;
  margin: auto;
}

. frise-chrono img{
  margin:auto;
}

.definition{
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  color : #D1CAA1;
  background-color: #339650;
  border-top: 6px solid #24633C;
  padding: 7px;
  font-style: italic;
}

.bouton-nav-prec{
  background-color: #24633C;
  color: #D1DAA1;
  border-radius: 3px;
  width: 90px;
  position: relative;
  float: left;
  padding: 3px;
  margin: 10px;
  text-align: center;
}

.bouton-nav-suiv{
  background-color: #24633C;
  color: #D1DAA1;
  border-radius: 3px;
  width: 60px;
  position: relative;
  float: right;
  margin: 10px;
  padding: 3px;
  text-align: center;
}

.bouton-nav-suiv a, .bouton-nav-prec a{
 color: #D1CAA1; 
}

.definition h1{
  font-size: 16px;
}
.section-index{
  margin-top: 80px;
}

.frise-chrono{
  overflow-y: auto;
  max-width: 95%;
  margin: auto;
  text-align : center;
}
