body{
padding  : 0;
font-family: Arial;
margin : 0;
background-color: #D4D6B9
}

p{
text-align:justify;
}

header {
background-color:#24633C;
color: #D1CAA1;
position: fixed;
top : 0;
width: 100%;
left: 0;

}

header h1{
text-align: center;
}

nav{
margin:auto;
}

nav li {
list-style-type: none;

}

nav li a{
color: #D1CAA1;
text-decoration: none;
display: inline-block;
background-color: #339650;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
float: left;
height: 20px;
margin: 1px;
}

nav li a:hover{
  background-color: #D1CAA1;
  color: #24633C;
}


section{
padding-top: 150px;
width: 80%;
margin: auto;
background-color: #EFE4CA;
}
aside {
     position: fixed;
    left: -150px;
    transition: 0.4s;
    padding: 15px;
    width: 300px;
    font-size: 20px;
    background-color: #339650;
    border-radius: 0 10px 10px 0;
}
aside li{
color:#D1CAA1;
list-style-type: none;
}
aside a{
color:#D1CAA1;
text-decoration: none;
}
aside:hover {
    left:0;
}
h1 {
text-align: center;
font-size: 25px;
}
h2 {
text-align: center;
font-size: 18px;
}

.image-petite{
  height: 150px;
}

.image-moyenne{
  height: 300px;
}

.image-grande{
  height: 1000px;
}

figure{
  margin: auto;
  text-align: center;
}

img{
  border: 1px solid black;
}

aside a:hover{
color:#E8E0D0;
}
