body{
padding  : 0;
font-family: Arial;
margin : 0;
background-color: #D4D6B9;
overflow-x: hidden;
}

p{
text-align:justify;
}

header {
background-color:#24633C;
color: #D1CAA1;
position: absolute;
top : 0;
width: 100%;
left: 0;
}

header h1{
text-align: center;
}

nav{
min-width: 700px;
  margin-left: 12%;
  margin-right: 15%;
  background-color: #FE2EC8;
}

nav li {
list-style-type: none;
text-align: center;
}

nav li a{
color: #D1CAA1;
text-decoration: none;
display: inline-block;
background-color: #339650;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
float: left;
height: 20px;
margin: 1px;
}

nav li a:hover{
  background-color: #D1CAA1;
  color: #24633C;
}


section{
padding: 20px;
width: 80%;
margin: auto; 
background-color: #EFE4CA;
padding-bottom: 100px;
padding-top: 150px;
}

article{
  border: 1px dashed #AA9764;
  margin: 15px;
  padding: 10px;
  background-color: #decfac;
}

aside {
     position: fixed;
    left: -270px;
    transition: 0.4s;
    padding: 15px;
    width: 300px;
    font-size: 20px;
    background-color: #339650;
    border-radius: 0 10px 10px 0;
  z-index: 1;
}
aside li{
color:#D1CAA1;
list-style-type: none;

}
aside a{
color:#D1CAA1;
text-decoration: none;
  font-weight: normal;
}
aside a:hover{
color:#E8E0D0;
}
aside:hover {
    left:0;
}
h1 { 
text-align: center;
font-size: 25px;
}
h2 {
text-align: center;
font-size: 18px;
color: #8D5613;
}


figure{
  margin: auto;
  text-align: center;
}
footer{
  clear: both;
  padding: 10px;
  width: 100%;
  color: #D1CAA1;
  background-color: #183A2E;
  position: relative;
  bottom: 0;
  
}

footer li a{
  display: inline-block;
  color: #D1CAA1;;
  text-decoration: none;
  float: left;
  font-weight: bold;
}

footer li{
  list-style: none;
  width: 200px;
  float: left;
}

video{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15px;
  margin-top: 15px;
}


a{
 color: #339650;
  font-weight: bold;
  text-decoration: none;
}

.definition{
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  color : #D1CAA1;
  background-color: #339650;
  border-top: 6px solid #24633C;
  padding: 7px;
  font-style: italic;
}

.definition h1{
  font-size: 16px;
}

.image-petite{
  height: 150px;
  max-width: 90%;
}

.image-moyenne{
  height: 300px;
  max-width: 90%;
}

.image-grande{
  height: 600px;
  max-width: 90%;
}

.image-tres-grande{
  height: 1000px;
  max-width: 90%;
}


.frise-chrono{
  overflow-y: auto;
  max-width: 95%;
  margin: auto;
  text-align : center;
}


.bouton-nav-prec{
  background-color: #24633C;
  color: #D1DAA1;
  border-radius: 3px;
  width: 90px;
  position: relative;
  float: left;
  padding: 3px;
  margin: 10px;
  text-align: center;
}

.bouton-nav-suiv{
  background-color: #24633C;
  color: #D1DAA1;
  border-radius: 3px;
  width: 60px;
  position: relative;
  float: right;
  margin: 10px;
  padding: 3px;
  text-align: center;
}

.bouton-nav-suiv a, .bouton-nav-prec a{
 color: #D1CAA1; 
}

.img-index{
  padding: 100px;
  background-size: cover;
  font-size: 30px;
}

.changement-climatique{
  background-image: url("images/changement-climatique-index.jpg");
  background-repeat: no-repeat;
  background-position: center;
}



.pollution a, .alim-durable a, .changement-climatique a, .energies-renouvelables a ,.dev-durable a{
  color: #FFFFFF; 
}

.pollution{
  background-image: url("images/pollution-index.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.energies-renouvelables{
  background-image: url("images/energies-renouvelables-index.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.dev-durable{
  background-image: url("images/dev-durable-index.jpg");
  background-repeat: no-repeat;
  background-position: center;
}


.alim-durable{
  background-image: url("images/alim-durable-index.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.droite {
    left: 95%;
        border-radius: 10px 0 0 10px;
        width:400px;
    }
.droite:hover{
    left: 80%;
}
.droite a{
    display:block;
}

.image-droite{
  width: 45%;
  float: right;
  margin: 10px;
}

.image-gauche{
  width: 45%;
  float: left;
  margin: 10px;
}

.para{
 clear: both;
}


